* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9FFFD;
}

.site-header > h1 {
  text-align: center;
  background-color: #354F52;
  font-family: 'Quicksand', sans-serif;
  color: #F9FFFD;
  margin: 0;
  padding: 10px 0;
}

.post-list {
  list-style-type: none;
  padding:0;
  margin: 30px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.post-link {
  text-decoration: none;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #2F3E46;
}

.post-link:hover {
  color: #7EC98F;
}

.post-item {
  background-color: lightgrey;
  border-radius: 15px;
  padding: 5px;
}

.site-nav {
  text-align: center;
}

.site-nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.site-nav-item {
  display: inline-block;
  margin-right: 30px;
}

.site-nav-item:last-child {
  margin-right: 0;
}

.site-nav-item > a {
  text-decoration: none;
  color: #7EC98F;
}

.site-nav-item > a:hover {
  color: #2F3E46;
}

.post-details-body {
  margin: 30px 30px;
  color: #2F3E46;
}

.post-details-body > h4 {
  margin: 10px 0;
}

.post-details-comments {
  margin: 30px 30px;
  color: #2F3E46;
}

.comment-list {
  list-style-type: none;
  padding: 0 30px;
}

.comment-item {
  background-color: #52796F;
  color: #F9FFFD;
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 10px;
}

.comment-fieldset {
  text-align: center;
}

.article-form {
  margin: 30px;
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
